$border-radius: 3px;
$border-color: #dbdbdb;
$activate-color: #2c95f6;
$disabled-color: #c4e1fb;
$heart-color: #ed4957;
$background-color: #fafafa;
$gray-color: #999999;

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin flex-space-between {
  display: flex;
  justify-content: space-between;
}
