* {
  margin: 0;
  padding: 0;
}
.borderBox {
  width: 400px;
  height: 500px;
  border: 1px solid #dbdbdb;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-left: 520px;
  margin-top: 100px;
}
.header_Login {
  font-size: 50px;
  font-family: 'Lobster', cursive;
}
.loginBox {
  border-radius: 8px;
  width: 310px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.loginBox a {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  color: #03376a;
  font-size: 14px;
}

.id {
  height: 30px;
  margin-top: 20px;
  border-radius: 8px;
  border: 1px solid #dbdbdb;
  padding-left: 6px;
  background-color: #fafafa;
}
.passWord {
  height: 30px;
  margin-top: 20px;
  border-radius: 8px;
  border: 1px solid #dbdbdb;
  padding-left: 6px;
  background-color: #fafafa;
}

.loginButton {
  height: 20px;
  margin-top: 20px;
  border: none;
  background-color: aqua;
  color: white;
  font-size: 15px;
  border-radius: 8px;
  padding-left: 5px;
  transition: all 0.2s;
  opacity: 0.5;
}

.all {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
img {
  width: 40px;
  height: 40px;
}

a:hover {
  color: #366088;
}
