@import '../../styles/Hyojeong/variables.scss';
/* nav */
.Nav {
  @include flex-space-between;
  align-items: center;
  padding: 30px 300px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  border-bottom: 1px solid $border-color;
  background-color: white;
  z-index: 1;

  .logo {
    font-family: 'Lobster Two', cursive;
    font-size: 30px;

    .logo-icon {
      border-right: 2px solid black;
      margin-right: 15px;
      padding-right: 15px;
      color: black;
      cursor: pointer;
    }

    span {
      font-size: 36px;
    }
  }

  .nav-form {
    position: relative;

    .nav-input {
      display: flex;
      padding: 13px 9px 9px 40px;
      width: 300px;
      border: 2px solid $border-color;
      border-radius: 3px;
      background-color: $background-color;
      font-size: 15px;
    }

    .nav-input::placeholder {
      margin-left: 20px;
      color: #b1b2b5;
      text-align: center;
      font-size: 20px;
    }

    i {
      position: absolute;
      left: 110px;
      top: 12px;
      color: #b1b2b5;
      transition: all 0.4s ease;
    }

    i.activate {
      left: 20px;
    }

    .search-info {
      position: absolute;
      width: 100%;
      background-color: #fff;
      z-index: 2;

      .user {
        display: flex;
        align-items: center;
        padding: 10px 20px;
        cursor: pointer;
        width: inherit;
        margin: 0;

        border-bottom: 2px solid $border-color;
        border-left: 2px solid $border-color;
        border-right: 2px solid $border-color;

        strong {
          font-weight: 800;
          font-size: 20px;
        }
        p {
          margin-top: 3px;
          font-size: 20px;
          color: $gray-color;
        }
        .profile {
          width: 50px;
          height: 50px;
          border-radius: 50%;
          margin-right: 10px;
        }
      }

      .user:last-child {
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;
      }

      .user:hover {
        background-color: $border-color;
      }
    }
  }

  .menu-container {
    display: flex;

    li {
      position: relative;
      margin: 0 15px;
      cursor: pointer;

      img {
        width: 35px;
      }
    }
    .profile-icon {
      .profile-menu {
        position: absolute;
        display: none;
        flex-direction: column;
        top: 50px;
        left: 50%;
        transform: translateX(-50%);
        width: 250px;
        border: 1px solid $border-color;
        border-radius: 5px;
        background-color: #fff;
        z-index: 100;

        li {
          display: flex;
          padding: 15px 15px;
          width: 100%;
          margin: 0;
          font-size: 17px;
          i {
            margin-right: 10px;
          }
        }

        li:last-child {
          border-top: 1px solid $border-color;
        }

        li:hover {
          background-color: $border-color;
        }

        .triangle {
          position: absolute;
          top: -30px;
          left: 50%;
          transform: translateX(-50%);
          width: 0;
          height: 0;
          border: 10x;
          border-bottom: 15px solid $border-color;
          border-top: 15px solid transparent;
          border-left: 15px solid transparent;
          border-right: 15px solid transparent;
        }
      }
    }

    .profile-menu.open {
      display: flex;
    }
  }
}

@media (max-width: 1600px) {
  .Nav {
    padding: 20px 150px;
    transition: all ease 0.4s;
  }
}

@media (max-width: 1300px) {
  .Nav {
    padding: 20px 120px;
  }
}

@media (max-width: 1100px) {
  .Nav {
    .nav-form {
      .nav-input {
        width: 200px;
      }
      i {
        transform: translateX(-50px);
      }
    }
  }
}

@media (max-width: 900px) {
  .Nav {
    padding: 15px 70px;
    .logo,
    .logo span {
      font-size: 30px;
    }

    .menu-container li img {
      width: 30px;
      height: 30px;
    }
  }
}

@media (max-width: 790px) {
  div.Nav {
    padding: 15px 20px;
    .nav-form {
      display: none;
    }
  }
}
